.user-card{
    width:auto;
    margin: 20px;
    display:flex;
    flex-direction:row;
    cursor:pointer;
    flex-wrap:wrap;
    margin-right: 10px;

}
.profile-pic{
    height: 50px;
    width: 50px;
    border-radius:50px;
}
.name{
    font-size:15px;
    font-weight:bolder;
    color: #000000;
}
.names-con{
    padding-top:6px;
    display:flex;
    flex-direction:column;
    margin-left:10px;


}
.indicator{
    color:silver;
    font-family:"Italic";
    font-size:12px;
}
.line{
    border-width:1px;
    border-color:silver;
    width:80%;
    margin-left: 25px;
}
@media (min-width: 300px) and (max-width: 600px) {
    .profile-pic {
      height: 40px;
      width: 40px;
      border-radius:50px;
    }
    .name {
      display:none;
    }
    .indicator {
      display:none;
    }
    .line {
      display:none;
    }
  }