body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}
.input-field{
  color: #333;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-form {
  background: #ffffff;
  padding: 30px;
  max-height: 500px;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 10px 6px;
}
.signup-heading{
  margin-bottom: 5px;
  color: #333;
}
.signup-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.signup-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
  text-align: center;
}

.success {
  color: green;
  font-size: 14px;
  text-align: center;
}
.bottom-text {
  margin-top: 15px;
  font-size: 13px;
  color: #333;
  margin-top: 20px;
}
.btn-alt{
  background: none;
  border: none;
  color: #4caf50;
  cursor: pointer;
  font-size: 14px;
}